//
// Variables
//

@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,400i,700,700i&display=swap");

$type-sizes: (
  3xl: 3.6rem,
  2xl: 2.8rem,
  xl: 2.4rem,
  lg: 1.8rem,
  md: 1.6rem,
  sm: 1.4rem,
  xs: 1.2rem
);

$fonts: (
  sans: "Roboto",
  mono: "Roboto Mono"
);
